/* CSS Document */

body, ul, ol, p, h1, h2, h3, h4, h5,h6, form, dl,input,textarea{
	margin: 0px;
	padding: 0px;
	
}
p {
	line-height:170%;
/*	text-indent:2em;*/
}
a {
	text-decoration: none;
}
ul, ol {
	list-style-type: none;
}
img {
	display:block;
	border:0px;
}

.row1200{ width:1200px; margin:0 auto;height:100%;}

.nav{ position:absolute; width:100%; height:80px; z-index:5; top:10px; }
.logo{ width:180px;height:40px;margin-top:20px; float:left;}
.top_nav{  height:80px; float:right;}
.top_nav li{float:left;line-height:80px; width:180px;height:80px;}
.top_nav li a{ font-size:20px; color:#fff; display:block; height:70px; width:84px; text-align:center;}
.top_nav li a:hover,.top_nav li.sy a{color:#FD6768;background:url(../images/nav_border.png) no-repeat bottom center;}
.banner{ position:relative; width:100%;height: 187px;}
.banner img{ width:100%; height:100%;}

.content{ height:490px; width:100%; border-bottom:2px solid #eee; margin-top:15px;}
.content li{ height:280px; width:400px;margin-top:105px; float:left;}
.content li .project{ height:100%; width:100%;}
.content li .project p{ text-align:center; font-size:18px; color:#666;}
.content li .project p.title{font-size:24px; color:#333; padding-bottom:10px; margin-top:30px;}

.partner{ height:720px; width:960px;margin:0 auto;margin-top:120px;}
.partner h3{ text-align:center; font-size:40px; color:#333; font-weight:normal; margin-bottom:70px;}
.partner li{ width:320px; height:300px;float:left;}
.partner li:hover{ box-shadow:0px 4px 13px rgba(0,0,0,0.1);background-color:#fff;}

/*.footer{ width:100%; height:60px; background-color:#333; margin-top:120px; clear:both;}*/
/*.footer .word li{ text-align:center; line-height:60px; color:#eee; font-size:14px;}*/



/*sub_about*/
.slideTxtBox{ width:100%;text-align:left;}
.slideTxtBox .hd{ height:60px;line-height:60px; position:relative; }
.slideTxtBox .hd ul{ float:left;  position:absolute;height:auto;   }
.slideTxtBox .hd ul li{ float:left;cursor:pointer; height:60px; width:600px;text-align:center; font-size:18px;  }
.slideTxtBox .hd ul li.on{ height:60px;background:#fff; width:600px; text-align:center;background:#2B8FDA; color:#fff;font-size:18px;}
.slideTxtBox .hd ul li.on:hover{ color:#fff;}

.slideTxtBox .bd ul{ zoom:1; }
.slideTxtBox .bd li.jl{ margin:50px 0 50px 0;}
.slideTxtBox .bd li strong{display:inline-block; height:48px; line-height:48px;}
.slideTxtBox .bd li.title{ font-size:26px; padding:80px 0 50px 0;}
.slideTxtBox .bd li.title p{ font-size:14px;}
.slideTxtBox .bd li div.fl{ padding:10px 0 0 0;}
.slideTxtBox .bd li div.fl li{ list-style:inside;font-size:14px; line-height:180%;text-indent:4em;}
.slideTxtBox .bd li p{ padding:15px 0 0 0; font-size:14px;text-indent:4em;}
		
.slideTxtBox .bd ul.bg{ width:100%; background-color:#FFCCFF; height:600px; margin-top:80px; background:url(../images/bg_bg.jpg) no-repeat;}
.slideTxtBox .bd ul.bg li{ float:left;}
.slideTxtBox .bd ul.bg li.Contact{ width:450px;height:330px; background-color:rgba(43,143,218,0.76); padding-left:50px;}
.slideTxtBox .bd ul.bg li.Contact p{ text-indent:inherit;color:#fff; height:20px; padding:0px; line-height:20px; padding-left:30px; padding-bottom:30px;}
.slideTxtBox .bd ul.bg li.Contact p.lx{ font-size:24px; padding:30px 0 15px 0;}
		
.slideTxtBox .bd ul.bg li.input{ width:544px;height:530px; margin-left:90px;}
.slideTxtBox .bd ul.bg li.input .form_box p{text-indent:inherit; padding-bottom:5px; color:#fff;}
.slideTxtBox .bd ul.bg li.input .form_box li{ float:left; margin-bottom:15px;}
.slideTxtBox .bd ul.bg li.input .form_box li input{ background-color:none; border:none; height:40px; width:240px; background-color:rgba(255,255,255,0.7); padding-left:10px;}
.slideTxtBox .bd ul.bg li.input .form_box li textarea{ background-color:none; border:none;width:534px; height:154px; background-color:rgba(255,255,255,0.7);padding-left:10px; padding-top:10px;}

		
		

	

		






