<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <ul id="tk">

  </ul>

<!--  写一个js动态生成列表-->
  <script>
    var itemList = ["aa", "bb", "cc", "dd", "ee"];

    for(var idx in itemList){

      //  创建li节点
      var liTag = document.createElement("li")

      // 设置节点内容
      liTag.innerText = itemList[idx];

      // 添加道id为tk的ul下作为子节点
      var parentTag = document.getElementById("tk");
      parentTag.appendChild(liTag);

    }
  </script>
</body>
</html>